.body {
    background-image: url(https://co55eg.com/frontend/assets/images/mid-grey-bg.png);
}


.namee:hover {
    color: blue;
}

.namee {
    color: rgb(252, 248, 243);
    text-decoration-line: none;
    margin: 5px;
}

.border-small-line {
    /* border-bottom: #000; */
    border-bottom-style: solid;
    border-width: 3px;
    min-width: 155px !important;
}

.border-small-dot-new {
    /* border-bottom: #000; */

    border-bottom-style: solid;
    border-width: 9px;
    transform: translateY(-3px);
    width: 65px !important;
}

.location-img {
    max-height: 250px;
    min-height: 250px;
}

.location-btn {
    background-color: #00A4CF !important;
    border-radius: 0 !important;
    color: white !important;
}

@media (max-width:992px) and (min-width:576px) {
    .terms {
        margin-left: 2rem !important;
    }
}

.link {
    color: white !important;
    text-decoration-line: none;
}

.location-btn:hover {
    background-color: #424B5A !important;
    border-radius: 0 !important;
    color: white !important;
}

.btn-nav {
    background-color: #00A4CF !important;
    border-radius: 0 !important;
    color: white !important;
    text-decoration: none !important;
}

.btn-nav a {
    color: white !important;
    /* text-decoration: none !important; */
    text-decoration: none !important;

}

.btn-nav:hover {
    background-color: #424B5A !important;
    border-radius: 0 !important;
    color: white !important;
}

@media (min-width:577px) and (max-width:767px) {
    .location-2 {
        margin-left: 3.9rem;
    }
}

.footer-logo {
    width: auto;
    height: max-content;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.footer-s1 {
    text-transform: capitalize;
    font-size: 1.37rem;
    text-decoration: none !important;
    color: #ffffff !important;
}

.footer-s1 .a {
    font-size: 1.125rem !important;
}

.list-unstyled .li {
    color: white;
    padding-bottom: 2rem;

}

.footer-a {
    color: white;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

.footer-a:hover {
    text-decoration: none;
    color: #23A3D1;
}

.footer-s2 {
    font-size: 1.125rem !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icon-p {
    display: grid;
    align-items: center;
}

.footer-s2-link {
    color: white;
    text-decoration: none;
    margin-right: 0.5rem;
}

.footer-s2-link:hover {
    text-decoration: none;
    color: #23A3D1;
    margin-right: 0.5rem;
}

.footer-s1-li {
    display: grid;
    justify-content: center;
}

.background-dark {
    background-image: url(https://co55eg.com/frontend/assets/images/dark-image.png);
    background-size: cover;
    background-blend-mode: darken;

}